allow sysinit self:capability dac_override;
allow sysinit block_device:dir search;
allow sysinit unlabeled:lnk_file { read getattr };
allow sysinit mmc_block_device:blk_file read;
allow sysinit mmc_block_device:blk_file open;
allow sysinit mmc_block_device:blk_file ioctl;
allow sysinit self:capability sys_admin;
allow sysinit kernel:process setsched;
allow sysinit system_file:dir {remove_name add_name };
allow sysinit unlabeled:lnk_file unlink;
allow sysinit selinuxfs:file write;
allow sysinit selinuxfs:file read;
allow sysinit selinuxfs:file getattr;
