allow system_app shell_data_file:dir r_dir_perms;
allow system_app unlabeled:dir search;
# Sony Timekeep
allow system_app timekeep_prop:property_service set;
