
########################################
# CAPP_SECCLK
########################################
service lgsecclk /system/bin/lgsecclkserver
    class main
    user system
    group system lgdrm_acc sdcard_rw media_rw

# restart when servicemanager is restarted
on property:init.svc.servicemanager=restarting
     restart lgsecclk

########################################
# CAPP_DRM
########################################
service lgdrm /system/bin/lgdrmserver
    class main
    user lgdrm
    group lgdrm_acc sdcard_rw media_rw system radio sdcard_r

# restart when servicemanager is restarted
on property:init.svc.servicemanager=restarting
     restart lgdrm
