on init
	mkdir /mpt 0775 system system
	mkdir /cust 0771 system system
	wait /dev/block/platform/msm_sdcc.1/by-name/mpt
	wait /dev/block/platform/msm_sdcc.1/by-name/cust
	exec /sbin/setup_fs_static /dev/block/platform/msm_sdcc.1/by-name/mpt /dev/block/platform/msm_sdcc.1/by-name/cust no_reboot

on fs
	wait /dev/block/platform/msm_sdcc.1/by-name/cust
	exec /system/bin/e2fsck -p /dev/block/platform/msm_sdcc.1/by-name/cust
	mount ext4 /dev/block/platform/msm_sdcc.1/by-name/cust /cust ro nodev barrier=1 noauto_da_alloc

on post-fs-data
	chown system system /mpt
	chmod 0775 /mpt
	chown system system /cust
	chmod 0771 /cust
