import /init.zetaw.rc
import /init.w7ds.usb.rc
import /init.w7ds_product.rc

on early-init
    mkdir /firmware 0771 system system
    symlink /data/tombstones /tombstones

on init

    chmod 755 /sbin/bbx
    chmod 755 /fscheck.sh
    exec /fscheck.sh

    # CM: We use our own ril-daemon service definition, see mmi-ril-daemon
    stop ril-daemon

on fs
    mount_all fstab.w7ds
   
    # Executing tune2fs to reserve some region in /data. (40MB)
    exec /system/bin/tune2fs -u system -r 10240 /dev/block/platform/msm_sdcc.1/by-name/userdata

    # Keeping following partitions outside fstab file. As user may not have
    # these partition flashed on the device. Failure to mount any partition in fstab file
    # results in failure to launch late-start class.

    wait /dev/block/platform/msm_sdcc.1/by-name/modem
    mount vfat /dev/block/platform/msm_sdcc.1/by-name/modem /firmware ro shortname=lower,uid=1000,gid=1000,dmask=227,fmask=337

    write /sys/kernel/boot_adsp/boot 1

# In order to keep plenty of large order chunks.
    write /proc/sys/vm/min_free_kbytes 5120

on post-fs-data
    mkdir /data/tombstones 0771 system system
    mkdir /tombstones/modem 0771 system system

    setprop vold.post_fs_data_done 1

on early-boot

on boot

#start camera server as daemon
service qcamerasvr /system/bin/mm-qcamera-daemon
    class late_start
    user camera
    group camera system inet input graphics

#LGE_CHANGE_S, restart qcamerasvr when restarting mediaserver and servicemanager, yousung.kang@lge.com
on property:init.svc.media=restarting
    restart qcamerasvr
on property:init.svc.servicemanager=restarting
    restart qcamerasvr
#LGE_CHANGE_E, restart qcamerasvr when restarting mediaserver and servicemanager, yousung.kang@lge.com

# Allow usb charging to be disabled persistently
on property:persist.usb.chgdisabled=1
   write /sys/class/power_supply/battery/charging_enabled 0

on property:persist.usb.chgdisabled=0
   write /sys/class/power_supply/battery/charging_enabled 1

# Allow usb charging to be disabled persistently
on property:persist.usb.chgdisabled=1
   write /sys/class/power_supply/battery/charging_enabled 0

on property:persist.usb.chgdisabled=0
   write /sys/class/power_supply/battery/charging_enabled 1

on property:persist.service.fakebatt=1
    write /sys/class/power_supply/battery/pseudo_batt "1 1 100 40 4100 80 1"

on property:persist.service.fakebatt=0
    write /sys/class/power_supply/battery/pseudo_batt "0 1 100 40 4100 80 1"

service time_daemon /system/bin/time_daemon
   class late_start
   user root
   group root

service mpdecision /system/bin/mpdecision --no_sleep --avg_comp
   user root
   disabled

service thermal-engine /system/bin/thermal-engine
   class main
   user root
   group root
  
service qrngd /system/bin/qrngd -f
   class main
   user root
   group root

service qrngp /system/bin/qrngp
    class main
    user root
    group root
    oneshot
    disabled

on property:sys.boot_completed=1
    start qrngp

service audiod /system/bin/audiod
   class late_start
   user system
   group system

on boot

    chown system system /sys/class/power_supply/battery/pseudo_batt

service adsprpcd /system/bin/adsprpcd
   class main
   user media
   group media

service wcnss-service /system/bin/wcnss_service
   class late_start
   user root
   group system wifi
   oneshot

service ppd /system/bin/mm-pp-daemon
    class late_start
    user system
    socket pps stream 0660 system system graphics
    group system graphics

on property:init.svc.surfaceflinger=stopped
    stop ppd


# Define call duration feature
on property:ro.lge.callduration=1
    mkdir /persist-lg/callduration 0770 system radio
    chown system radio /persist-lg/callduration
    chmod 0770 /persist-lg/callduration

service mmi-ril-daemon /system/bin/rild
    class main
    socket rild stream 660 root radio
    socket rild-debug stream 660 radio system
    socket cutback stream 660 media radio
    user root
    group radio cache inet misc audio sdcard_rw qcom_oncrpc qcom_diag log net_raw diag
